In [2]:
import pandas as pd
import numpy as np
delays18 = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2018.csv')
delays19 = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2019.csv')
delays18

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20226,2018-12,YX,Republic Airline,TLH,"Tallahassee, FL: Tallahassee International",47.0,7.0,3.12,0.17,3.30,0.0,0.40,1.0,0.0,364.0,261.0,6.0,83.0,0.0,14.0
20227,2018-12,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",39.0,5.0,0.63,0.00,2.99,0.0,1.38,0.0,0.0,228.0,24.0,0.0,100.0,0.0,104.0
20228,2018-12,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",18.0,4.0,0.11,0.48,2.52,0.0,0.89,0.0,0.0,179.0,5.0,40.0,94.0,0.0,40.0
20229,2018-12,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,3.0,0.15,0.00,2.85,0.0,0.00,0.0,0.0,66.0,4.0,0.0,62.0,0.0,0.0
20230,2018-12,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",76.0,22.0,5.04,0.00,7.29,0.0,9.67,0.0,0.0,776.0,114.0,0.0,240.0,0.0,422.0

In [3]:
#delays = delays18.append(delays19)
delays = pd.concat([delays18,delays19])
delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-1,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-1,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-1,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-1,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-1,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [4]:
delays.date.info()

<class 'pandas.core.series.Series'>
Int64Index: 41177 entries, 0 to 20945
Series name: date
Non-Null Count  Dtype
--------------  -----
41177 non-null  object
dtypes: object(1)
memory usage: 643.4+ KB

In [5]:
delays.date=pd.to_datetime(delays.date,format='%Y-%m')
#delays['date'] = delays['date'].dt.strftime('%Y-%m')
delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-01-01,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-01-01,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-01-01,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-01-01,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-01-01,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-01-01,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-01-01,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-01-01,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [6]:
#part5 = delays[(delays.carrier.notnull()) & (delays.airport.notnull()) & delays.arr_flights.notnull() & delays['date'].dt.year!=2018 & delays['date'].dt.year!=2019]
#part5
delays = delays[delays.arr_flights.notnull()]
delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-01-01,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-01-01,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-01-01,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-01-01,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-01-01,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-01-01,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-01-01,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-01-01,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [7]:
delays = delays[delays.carrier.notnull()]
delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-01-01,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-01-01,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-01-01,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-01-01,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-01-01,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-01-01,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-01-01,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-01-01,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [8]:
delays = delays[delays.airport.notnull()]
delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-01-01,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-01-01,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-01-01,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-01-01,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-01-01,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-01-01,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-01-01,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-01-01,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [9]:
delays.loc[delays.date > '2019-12-01'] = np.nan
delays.loc[delays.date < '2018-01-01'] = np.nan
delays.dropna(inplace=True, subset=['date'])
delays

C:\Users\filip\AppData\Local\Temp\ipykernel_12448\3991175591.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delays.dropna(inplace=True, subset=['date'])

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-01-01,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-01-01,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-01-01,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20941,2019-01-01,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
20942,2019-01-01,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
20943,2019-01-01,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
20944,2019-01-01,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
20945,2019-01-01,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

In [10]:
delays[delays['airport_name'].str.contains('TN')]

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
1,2018-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.00,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
67,2018-01-01,MQ,Envoy Air,MEM,"Memphis, TN: Memphis International",80.0,24.0,7.78,1.53,8.05,0.00,6.64,1.0,0.0,1285.0,328.0,129.0,430.0,0.0,398.0
160,2018-01-01,OH,PSA Airlines Inc.,BNA,"Nashville, TN: Nashville International",169.0,45.0,14.15,2.33,4.63,0.00,23.89,5.0,3.0,3783.0,1319.0,89.0,320.0,0.0,2055.0
167,2018-01-01,OH,PSA Airlines Inc.,CHA,"Chattanooga, TN: Lovell Field",162.0,41.0,16.64,0.64,11.41,0.00,12.31,8.0,0.0,2498.0,1002.0,121.0,446.0,0.0,929.0
206,2018-01-01,OH,PSA Airlines Inc.,MEM,"Memphis, TN: Memphis International",138.0,24.0,9.78,0.49,3.46,0.78,9.49,6.0,0.0,1749.0,556.0,126.0,228.0,35.0,804.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20807,2019-01-01,G4,Allegiant Air,TRI,"Bristol/Johnson City/Kingsport, TN: Tri Cities",9.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20810,2019-01-01,G4,Allegiant Air,TYS,"Knoxville, TN: McGhee Tyson",89.0,22.0,1.48,1.00,3.99,0.00,15.53,0.0,0.0,976.0,70.0,17.0,116.0,0.0,773.0
20847,2019-01-01,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",193.0,51.0,6.67,3.12,16.81,0.00,24.41,11.0,0.0,3216.0,383.0,258.0,825.0,0.0,1750.0
20856,2019-01-01,MQ,Envoy Air,CHA,"Chattanooga, TN: Lovell Field",52.0,15.0,2.68,0.53,7.82,0.00,3.97,9.0,0.0,482.0,108.0,19.0,220.0,0.0,135.0
20917,2019-01-01,MQ,Envoy Air,MEM,"Memphis, TN: Memphis International",207.0,55.0,15.87,4.76,19.73,0.00,14.65,9.0,1.0,3187.0,1022.0,367.0,754.0,0.0,1044.0

In [11]:
coords = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/airport_coordinates.csv')
coords

     airport        lat        long
0        01A  58.109444 -152.906667
1        03A  65.548056 -161.071667
2        04A  68.083333 -163.166667
3        05A  67.570000 -148.183889
4        06A  57.745278 -152.882778
...      ...        ...         ...
4086     RVR        NaN         NaN
4087     MAZ        NaN         NaN
4088     NRR        NaN         NaN
4089     PPD        NaN         NaN
4090     SIG        NaN         NaN

[4091 rows x 3 columns]

In [12]:
airports = pd.DataFrame({'airport':delays['airport'].unique(),'airport_name':delays['airport_name'].unique()})
airports

    airport                                    airport_name
0       BIS         Bismarck/Mandan, ND: Bismarck Municipal
1       BNA          Nashville, TN: Nashville International
2       BOI                   Boise, ID: Boise Air Terminal
3       BPT  Beaumont/Port Arthur, TX: Jack Brooks Regional
4       BUF      Buffalo, NY: Buffalo Niagara International
..      ...                                             ...
358     PAE                   Everett, WA: Snohomish County
359     ATY               Watertown, SD: Watertown Regional
360     PIR                     Pierre, SD: Pierre Regional
361     BFM                     Mobile, AL: Mobile Downtown
362     XWA    Williston, ND: Williston Basin International

[363 rows x 2 columns]

In [13]:
airports=airports.merge(coords,on='airport')
airports

,airport,airport_name,lat,long
0,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",46.778889,-100.752500
1,BNA,"Nashville, TN: Nashville International",36.126667,-86.681944
2,BOI,"Boise, ID: Boise Air Terminal",43.565278,-116.225000
3,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",29.950833,-94.020000
4,BUF,"Buffalo, NY: Buffalo Niagara International",42.941111,-78.736389
...,...,...,...,...
355,PAE,"Everett, WA: Snohomish County",47.908333,-122.281389
356,ATY,"Watertown, SD: Watertown Regional",44.908889,-97.154167
357,PIR,"Pierre, SD: Pierre Regional",44.383611,-100.284167
358,BFM,"Mobile, AL: Mobile Downtown",30.626389,-88.068056
359,XWA,"Williston, ND: Williston Basin International",48.260833,-103.751111

In [14]:
import math
airports[airports.airport.str.startswith('B')].lat.mean()

40.776657706129036

In [15]:
airports[airports.airport.str.startswith('B')].long.mean()

-96.84237455129033

##Q2

In [16]:
sd = pd.read_csv('smartDevices.csv',delimiter=';',header=4)
sd

,Login Name,Gateway Mac Address,Device-ID,Device,Date,Hour,Value,Unit,Cost (EUR),CO2 (kg),Type,Consumer / Producer,Main / Sub-counter,Type device,Room,Group-Ids,"Groups,,,"
0,bla@hotmail.com,"1,23E+11",5653a456,washing machine,21/01/2018,0:00,"0,0002",kWh,0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
1,bla@hotmail.com,"1,23E+11",5653a456,washing machine,21/01/2018,0:15,"0,0001",kWh,0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
2,bla@hotmail.com,"1,23E+11",5653a456,washing machine,21/01/2018,0:30,"0,0001",kWh,0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
3,bla@hotmail.com,"1,23E+11",5653a456,washing machine,21/01/2018,0:45,"0,0001",kWh,0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
4,bla@hotmail.com,"1,23E+11",5653a456,washing machine,21/01/2018,1:00,"0,0001",kWh,0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11177,bla@hotmail.com,"1,23E+11",TM12:1543687,BEDROOM,28/01/2018,22:45,14,Celsius,0,0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11178,bla@hotmail.com,"1,23E+11",TM12:1543687,BEDROOM,28/01/2018,23:00,14,Celsius,0,0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11179,bla@hotmail.com,"1,23E+11",TM12:1543687,BEDROOM,28/01/2018,23:15,14,Celsius,0,0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11180,bla@hotmail.com,"1,23E+11",TM12:1543687,BEDROOM,28/01/2018,23:30,14,Celsius,0,0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11181,bla@hotmail.com,"1,23E+11",TM12:1543687,BEDROOM,28/01/2018,23:45,14,Celsius,0,0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN

In [33]:
#sd.columns=sd.iloc[3]
#sd = sd.loc[3::]
dow = pd.to_datetime(sd.Date,format="%d/%m/%Y")
#dow=dow.dt.dayofweek
dow = dow.dt.day_name()
q2 = pd.DataFrame({'Day':dow})
q2

          Day
0      Sunday
1      Sunday
2      Sunday
3      Sunday
4      Sunday
...       ...
11177  Sunday
11178  Sunday
11179  Sunday
11180  Sunday
11181  Sunday

[11182 rows x 1 columns]

In [31]:
q2['consoom']=sd[sd['Unit']=='kWh'].Value
q2

          Day consoom
0      Sunday  0,0002
1      Sunday  0,0001
2      Sunday  0,0001
3      Sunday  0,0001
4      Sunday  0,0001
...       ...     ...
11177  Sunday     NaN
11178  Sunday     NaN
11179  Sunday     NaN
11180  Sunday     NaN
11181  Sunday     NaN

[11182 rows x 2 columns]

In [35]:
sd.Device.unique()

array(['washing machine', 'fridge', 'microwave', 'BEDROOM2', 'BATHROOM',
       'KITCHEN', 'LIVING ROOM', 'BEDROOM1', 'BEDROOM'], dtype=object)

In [ ]:
q2['avg_temp']=sd[sd.Device=='LIVING ROOM' & sd.Unit=='Celsius'].Value.mean()
q2