##Q1

In [1]:
import pandas as pd
import numpy as np
data = [[1,15,54,36.5],[2,18,68,37.1],[3,11,41,36.4],[4,17,59,37.2],[5,20,65,36.9]]
labs = ['id','age','weight','temp']
frame = pd.DataFrame(data,columns=labs)
frame

   id  age  weight  temp
0   1   15      54  36.5
1   2   18      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2
4   5   20      65  36.9

##Q2

In [2]:
q2a = frame.iloc[:,1]
q2a

0    15
1    18
2    11
3    17
4    20
Name: age, dtype: int64

In [3]:
q2b = frame.loc[2]
q2b

id         3.0
age       11.0
weight    41.0
temp      36.4
Name: 2, dtype: float64

In [4]:
#q2c
print(frame.iloc[:,1].min(),frame.iloc[:,1].max())

11 20

In [5]:
#q2d
frame.iloc[:,2].sum()/frame.iloc[:,2].count()

57.4

In [6]:
#q2e
frame.iloc[:,2]/1000

0    0.054
1    0.068
2    0.041
3    0.059
4    0.065
Name: weight, dtype: float64

In [7]:
frame.iloc[:,3]*1.8+32

0    97.70
1    98.78
2    97.52
3    98.96
4    98.42
Name: temp, dtype: float64

##Q3

In [8]:
#frame.to_csv('use_of_python1.csv')

##Q4

In [9]:
#q4a
frame2=frame
frame2=frame2.drop('id',axis=1)
frame2

   age  weight  temp
0   15      54  36.5
1   18      68  37.1
2   11      41  36.4
3   17      59  37.2
4   20      65  36.9

In [10]:
#q4b
temp = [160,175,162,169,179]
frame2['length']=temp
frame2

   age  weight  temp  length
0   15      54  36.5     160
1   18      68  37.1     175
2   11      41  36.4     162
3   17      59  37.2     169
4   20      65  36.9     179

In [11]:
#q4cd
import math
BMI=frame2.loc[:,'weight']/((frame2.loc[:,'length']/100)**2)
frame2['BMI']=BMI
frame2

   age  weight  temp  length        BMI
0   15      54  36.5     160  21.093750
1   18      68  37.1     175  22.204082
2   11      41  36.4     162  15.622619
3   17      59  37.2     169  20.657540
4   20      65  36.9     179  20.286508

In [12]:
#q4e
frame2[frame2['weight']>=60]

   age  weight  temp  length        BMI
1   18      68  37.1     175  22.204082
4   20      65  36.9     179  20.286508

In [22]:
q4f = [19 if x>=18 else x for x in frame2['age']]
frame2['age']=q4f
frame2

   age  weight  temp  length        BMI
0   15      54  36.5     160  21.093750
1   19      68  37.1     175  22.204082
2   11      41  36.4     162  15.622619
3   17      59  37.2     169  20.657540
4   19      65  36.9     179  20.286508

In [ ]:
to_change = frame[frame['age']>=18].loc['age']
q4f2 = frame.replace(to_replace=to_change,value=19)
q4f2