##Q1

In [1]:
import pandas as pd
import numpy as np
data = [[1,15,54,36.5],[2,18,68,37.1],[3,11,41,36.4],[4,17,59,37.2],[5,20,65,36.9]]
labs = ['id','age','weight','temp']
frame = pd.DataFrame(data,columns=labs)
frame

   id  age  weight  temp
0   1   15      54  36.5
1   2   18      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2
4   5   20      65  36.9

##Q2

In [2]:
q2a = frame.iloc[:,1]
q2a

0    15
1    18
2    11
3    17
4    20
Name: age, dtype: int64

In [3]:
q2b = frame.loc[2]
q2b

id         3.0
age       11.0
weight    41.0
temp      36.4
Name: 2, dtype: float64

In [4]:
#q2c
print(frame.iloc[:,1].min(),frame.iloc[:,1].max())

11 20

In [5]:
#q2d
frame.iloc[:,2].sum()/frame.iloc[:,2].count()

57.4

In [6]:
#q2e
frame.iloc[:,2]/1000

0    0.054
1    0.068
2    0.041
3    0.059
4    0.065
Name: weight, dtype: float64

In [7]:
frame.iloc[:,3]*1.8+32

0    97.70
1    98.78
2    97.52
3    98.96
4    98.42
Name: temp, dtype: float64

##Q3

In [8]:
#frame.to_csv('use_of_python1.csv')

##Q4

In [9]:
#q4a
frame2=frame
frame2=frame2.drop('id',axis=1)
frame2

   age  weight  temp
0   15      54  36.5
1   18      68  37.1
2   11      41  36.4
3   17      59  37.2
4   20      65  36.9

In [10]:
#q4b
temp = [160,175,162,169,179]
frame2['length']=temp
frame2

   age  weight  temp  length
0   15      54  36.5     160
1   18      68  37.1     175
2   11      41  36.4     162
3   17      59  37.2     169
4   20      65  36.9     179

In [11]:
#q4cd
import math
BMI=frame2.loc[:,'weight']/((frame2.loc[:,'length']/100)**2)
frame2['BMI']=BMI
frame2

   age  weight  temp  length        BMI
0   15      54  36.5     160  21.093750
1   18      68  37.1     175  22.204082
2   11      41  36.4     162  15.622619
3   17      59  37.2     169  20.657540
4   20      65  36.9     179  20.286508

In [12]:
#q4e
frame2[frame2['weight']>=60]

   age  weight  temp  length        BMI
1   18      68  37.1     175  22.204082
4   20      65  36.9     179  20.286508

In [13]:
q4f = [19 if x>=18 else x for x in frame2['age']]
frame2['age']=q4f
frame2

   age  weight  temp  length        BMI
0   15      54  36.5     160  21.093750
1   19      68  37.1     175  22.204082
2   11      41  36.4     162  15.622619
3   17      59  37.2     169  20.657540
4   19      65  36.9     179  20.286508

In [14]:
q4f2 = frame.replace(to_replace=[18,20],value=19)
q4f2

   id  age  weight  temp
0   1   15      54  36.5
1   2   19      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2
4   5   19      65  36.9

In [15]:
frame2[frame2['age']>16].loc[:,'temp']

1    37.1
3    37.2
4    36.9
Name: temp, dtype: float64

##Q5

In [16]:
#q5a
#sd = pd.read_csv('sportData.csv',delimiter=';',decimal='.')
sd = pd.read_csv('sportData.csv',delimiter=';',decimal='.',na_values='none')
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             75 non-null     int64
 1   Gender          75 non-null     object
 2   Sport           57 non-null     object
 3   Times per week  75 non-null     int64
 4   Hours per week  57 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.1+ KB

In [17]:
#q5b
sd.Sport.unique()

array([nan, 'basketball', 'soccer', 'climbing', 'gymnastics', 'other',
       'swimming', 'judo', 'fitness'], dtype=object)

In [18]:
#q5d
sd[sd['Sport']=='none']=np.NaN
sd.Sport.unique()

array([nan, 'basketball', 'soccer', 'climbing', 'gymnastics', 'other',
       'swimming', 'judo', 'fitness'], dtype=object)

In [19]:
#q5e
sd.isna().any()

Age               False
Gender            False
Sport              True
Times per week    False
Hours per week     True
dtype: bool

In [34]:
sd[sd['Sport'].isna() | sd['Hours per week'].isna()]
# sd[sd.isnull().any(axis=1)]

     Age Gender Sport  Times per week  Hours per week
0   12.0      m   NaN             0.0             NaN
4   13.0      f   NaN             0.0             NaN
9   13.0      m   NaN             0.0             NaN
10  13.0      f   NaN             0.0             NaN
15  14.0      f   NaN             0.0             NaN
17  11.0      f   NaN             0.0             NaN
18  12.0      m   NaN             0.0             NaN
19  13.0      m   NaN             0.0             NaN
24  12.0      m   NaN             0.0             NaN
27  12.0      m   NaN             0.0             NaN
30  12.0      f   NaN             0.0             NaN
33  11.0      m   NaN             0.0             NaN
36  12.0      m   NaN             0.0             NaN
39  12.0      m   NaN             0.0             NaN
43  11.0      f   NaN             0.0             NaN
58  12.0      f   NaN             0.0             NaN
64  13.0      f   NaN             0.0             NaN
73  12.0      f   NaN             0.0             NaN

In [36]:
#q5f
q5f=sd
q5f=sd.dropna()
q5f

     Age Gender       Sport  Times per week  Hours per week
1   12.0      m  basketball             1.0             2.0
2   13.0      m      soccer             2.0             4.0
3   11.0      f      soccer             2.0             4.0
5   12.0      f    climbing             1.0             2.0
6   12.0      m  gymnastics             1.0             2.0
7   11.0      m      soccer             1.0             2.0
8   12.0      f       other             1.0             2.0
11  11.0      m  gymnastics             2.0             4.0
12  12.0      f       other             2.0             4.0
13  12.0      m      soccer             1.0             2.0
14  13.0      f    swimming             2.0             4.0
16  11.0      m    climbing             2.0             4.0
20  13.0      m  basketball             2.0             4.0
21  11.0      f      soccer             2.0             4.0
22  12.0      m  gymnastics             1.0             2.0
23  13.0      m      soccer             3.0             6.0
25  11.0      f       other             1.0             2.0
26  13.0      m      soccer             1.0             2.0
28  13.0      m      soccer             2.0             4.0
29  11.0      m      soccer             4.0             8.0
31  11.0      m    climbing             4.0             8.0
32  14.0      f        judo             3.0             6.0
34  12.0      m      soccer             2.0             4.0
35  13.0      m        judo             3.0             6.0
37  12.0      m  basketball             4.0             8.0
38  13.0      m      soccer             3.0             6.0
40  12.0      f     fitness             2.0             4.0
41  13.0      m       other             2.0             4.0
42  11.0      f     fitness             3.0             6.0
44  13.0      f     fitness             1.0             2.0
45  12.0      m      soccer             1.0             2.0
46  12.0      f      soccer             1.0             2.0
47  14.0      f    swimming             2.0             4.0
48  11.0      m      soccer             2.0             4.0
49  11.0      f  gymnastics             1.0             2.0
50  11.0      f     fitness             3.0             6.0
51  11.0      m  basketball             2.0             4.0
52  13.0      f  basketball             3.0             6.0
53  12.0      m      soccer             1.0             2.0
54  12.0      f      soccer             3.0             6.0
55  12.0      f    swimming             2.0             4.0
56  11.0      m      soccer             2.0             4.0
57  13.0      f        judo             3.0             6.0
59  13.0      f        judo             6.0            12.0
60  11.0      m  basketball             1.0             2.0
61  13.0      f  basketball             5.0            10.0
62  12.0      f       other             2.0             4.0
63  14.0      f        judo             2.0             4.0
65  11.0      f       other             3.0             6.0
66  12.0      f    climbing             2.0             4.0
67  13.0      f    climbing             1.0             2.0
68  12.0      m      soccer             1.0             2.0
69  13.0      f  gymnastics             1.0             2.0
70  12.0      f  gymnastics             2.0             4.0
71  11.0      f        judo             2.0             4.0
72  11.0      f      soccer             1.0             2.0
74  11.0      f       other             1.0             2.0

In [37]:
#q5g
sd.Age.max()

14.0

In [ ]:
q5f[q5f['Times per week']>1].loc[:,'Times per week'].sum()