In [3]:
import pandas as pd
dfA = pd.read_csv('errorFile3.csv',sep=';')
dfA

   id   length  weight
0   1      173    70.1
1   2      174    60.3
2   3      175    57.0
3   4  Missing    60.0

In [4]:
import csv
fields = []
rows = []
with open('errorFile1.csv',newline='') as csvfile:
    data = csv.reader(csvfile,delimiter=',')
    fields = next(data)
    dfB = pd.DataFrame(columns=[fields[0],fields[1]])
    for rows in data:
        if len(rows)>2:
            newRow = {fields[0]:rows[0],fields[1]:rows[1]+','+rows[2]}
            dfB=dfB.append(newRow,ignore_index=True)
        else:
            newRow={fields[0]:rows[0],fields[1]:rows[1]}
            dfB=dfB.append(newRow,ignore_index = True)
    print(dfB)

  id             Slogan
0  1        One for all
1  2        All for one
2  3       Yes, we can!
3  4  Bro's Before Ho's
4  5        Wait for it

C:\Users\filip\AppData\Local\Temp\ipykernel_2948\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_2948\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_2948\2105608061.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_2948\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_2948\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)

In [5]:
dfC = pd.read_csv('errorFile2.csv',sep=';')
dfC

   id   length  weight
0   1      173    70.1
1   2      174    60.3
2   3    175,3    57.0
3   4  Missing    60.0

In [6]:
dfC.dtypes

id          int64
length     object
weight    float64
dtype: object

In [7]:
dfC = pd.read_csv('errorFile2.csv',sep=';',na_values='Missing')
dfC

   id length  weight
0   1    173    70.1
1   2    174    60.3
2   3  175,3    57.0
3   4    NaN    60.0

In [8]:
dfC[dfC.columns[1]]=dfC[dfC.columns[1]].str.replace(',','.')
dfC[dfC.columns[1]]=pd.to_numeric(dfC[dfC.columns[1]],errors='coerce')
dfC

   id  length  weight
0   1   173.0    70.1
1   2   174.0    60.3
2   3   175.3    57.0
3   4     NaN    60.0

In [9]:
import numpy as np
result = ['Pass','Fail',np.nan,'Fail','Fail']
id = np.arange(1,6)
dfD=pd.DataFrame({'ID':id,'Result':result})
dfD['Result'].isna().sum()

1

In [10]:
dfD['Result'].isna()

0    False
1    False
2     True
3    False
4    False
Name: Result, dtype: bool

In [11]:
dfD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int32
 1   Result  4 non-null      object
dtypes: int32(1), object(1)
memory usage: 188.0+ bytes

In [12]:
# SELECTING NOT AVAILABLES

In [13]:
tableOfNAs = dfD.isna()
tableOfNAs

      ID  Result
0  False   False
1  False   False
2  False    True
3  False   False
4  False   False

In [14]:
rowHasNA = tableOfNAs.any(axis=1)
rowHasNA

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [15]:
rowsWithNA = dfD[rowHasNA]
rowsWithNA

   ID Result
2   3    NaN

In [16]:
columnHasNA = tableOfNAs.any(axis=0)
columnHasNA

ID        False
Result     True
dtype: bool

In [17]:
columnsWithNA = dfD[dfD.columns[columnHasNA]]
columnsWithNA

  Result
0   Pass
1   Fail
2    NaN
3   Fail
4   Fail

In [18]:
# REPLACING STUFF

In [19]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
dfE = pd.read_csv('errorFile4.csv', na_values = missing_values, sep=';', decimal='.')


result = ['Pass', 'Fail', np.nan, 'Fail', 'Fail']
id = np.arange(1,6)
dfF= pd.DataFrame({'ID':id, 'Result':result})


dfF.fillna(0, inplace=True)


lists = [[1, 'Pass', 15], [2, 'Fail', 4], [3, 'Pass', np.NaN], [4, 'Fail', 8], [5, 'Pass', np.NaN]]
dfG = pd.DataFrame(lists, columns = ['Id', 'Result', 'Score'])

dfG = dfG.dropna(axis='rows')

dfG.dropna(axis='columns',inplace=True)

In [20]:
# CHANGING/REPLACING VALUES

In [21]:
lists = [[1, 'Pass', 'm'], [2, 'Fail', 'm'], [3, 'Pass', np.NaN], [4, 'Fail', 'w'], [5, 'Pass', np.NaN]]
dfH = pd.DataFrame(lists, columns = ['Id', 'Result', 'Gender'])
dfH.loc[dfH.Gender == 'w', 'Gender'] = 'f'
dfH

   Id Result Gender
0   1   Pass      m
1   2   Fail      m
2   3   Pass    NaN
3   4   Fail      f
4   5   Pass    NaN

In [22]:
names = ['Jan','Annelies','Lisl','Lisa']
id = np.arange(1,5)
dfI=pd.DataFrame({'ID':id,'Name':names})
dfI['Name'].replace(regex=['a'],value='A',inplace=True)
dfI

   ID      Name
0   1       JAn
1   2  Annelies
2   3      Lisl
3   4      LisA

In [23]:
import datetime as dt
now = dt.datetime.now()
print(now)
date =dt.datetime(2018,6,1)
print(date.strftime('%Y-%B-%d'))

2022-03-17 17:24:55.169893
2018-June-01

In [24]:
dfJ = pd.read_csv('errorFile5.csv',na_values=missing_values,sep=';',decimal='.')
dfJ.dtypes

id          int64
length    float64
weight    float64
Date       object
dtype: object

In [25]:
dfJ.Date=pd.to_datetime(dfJ.Date)
dfJ.dtypes

id                 int64
length           float64
weight           float64
Date      datetime64[ns]
dtype: object

In [26]:
# lets be real we dont need to know about timezones

In [27]:
dfK = pd.read_csv('dataset.csv',sep=';')
names = dfK.name.unique()
pairs = list()
for name in names:
    pairs.append([name,(dfK.loc[dfK.name == name]['purchase'].sum())])
dfK_total=pd.DataFrame(pairs)
dfK_total.rename(columns = {dfK_total.columns[0]:'Name',dfK_total.columns[1]:'Total purchase'},inplace = True)
dfK

     name  purchase
0     jan         1
1   marie         2
2   fritz         3
3    lisa         4
4     jan         5
5   marie         6
6   fritz         1
7    lisa         2
8     jan         3
9   marie         4
10  fritz         5
11   lisa         6
12    jan         1
13  marie         2
14  fritz         3
15   lisa         4
16    jan         5
17  marie         6
18  fritz         1
19   lisa         2
20    jan         3
21  marie         4
22  fritz         5
23   lisa         6

In [28]:
# COMBINING DATASETS

In [30]:
dfL=pd.read_csv('data1.csv',sep=';')
dfM=pd.read_csv('data2.csv',sep=';')
dfL

    name  number
0  marie       1
1    jan       2
2  fritz       3
3   lisa       4

In [31]:
dfM

    name  purchase
0    jan        18
1  marie        18
2  fritz        24
3   vera        24

In [32]:
df_merged=pd.merge(dfL,dfM,on='name')
df_merged

    name  number  purchase
0  marie       1        18
1    jan       2        18
2  fritz       3        24

In [33]:
df_merged=pd.merge(dfL,dfM, on='name',how='outer')
df_merged

    name  number  purchase
0  marie     1.0      18.0
1    jan     2.0      18.0
2  fritz     3.0      24.0
3   lisa     4.0       NaN
4   vera     NaN      24.0