In [1]:
import pandas as pd
dfA = pd.read_csv('errorFile3.csv',sep=';')
dfA

   id   length  weight
0   1      173    70.1
1   2      174    60.3
2   3      175    57.0
3   4  Missing    60.0

In [2]:
import csv
fields = []
rows = []
with open('errorFile1.csv',newline='') as csvfile:
    data = csv.reader(csvfile,delimiter=',')
    fields = next(data)
    dfB = pd.DataFrame(columns=[fields[0],fields[1]])
    for rows in data:
        if len(rows)>2:
            newRow = {fields[0]:rows[0],fields[1]:rows[1]+','+rows[2]}
            dfB=dfB.append(newRow,ignore_index=True)
        else:
            newRow={fields[0]:rows[0],fields[1]:rows[1]}
            dfB=dfB.append(newRow,ignore_index = True)
    print(dfB)

  id             Slogan
0  1        One for all
1  2        All for one
2  3       Yes, we can!
3  4  Bro's Before Ho's
4  5        Wait for it

C:\Users\filip\AppData\Local\Temp\ipykernel_13348\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_13348\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_13348\2105608061.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_13348\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)
C:\Users\filip\AppData\Local\Temp\ipykernel_13348\2105608061.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfB=dfB.append(newRow,ignore_index = True)

In [3]:
dfC = pd.read_csv('errorFile2.csv',sep=';')
dfC

   id   length  weight
0   1      173    70.1
1   2      174    60.3
2   3    175,3    57.0
3   4  Missing    60.0

In [4]:
dfC.dtypes

id          int64
length     object
weight    float64
dtype: object

In [5]:
dfC = pd.read_csv('errorFile2.csv',sep=';',na_values='Missing')
dfC

   id length  weight
0   1    173    70.1
1   2    174    60.3
2   3  175,3    57.0
3   4    NaN    60.0

In [6]:
dfC[dfC.columns[1]]=dfC[dfC.columns[1]].str.replace(',','.')
dfC[dfC.columns[1]]=pd.to_numeric(dfC[dfC.columns[1]],errors='coerce')
dfC

   id  length  weight
0   1   173.0    70.1
1   2   174.0    60.3
2   3   175.3    57.0
3   4     NaN    60.0

In [8]:
import numpy as np
result = ['Pass','Fail',np.nan,'Fail','Fail']
id = np.arange(1,6)
dfD=pd.DataFrame({'ID':id,'Result':result})
dfD['Result'].isna().sum()

1

In [9]:
dfD['Result'].isna()

0    False
1    False
2     True
3    False
4    False
Name: Result, dtype: bool

In [10]:
dfD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int32
 1   Result  4 non-null      object
dtypes: int32(1), object(1)
memory usage: 188.0+ bytes

In [11]:
# SELECTING NOT AVAILABLES

In [12]:
tableOfNAs = dfD.isna()
tableOfNAs

      ID  Result
0  False   False
1  False   False
2  False    True
3  False   False
4  False   False

In [13]:
rowHasNA = tableOfNAs.any(axis=1)
rowHasNA

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [14]:
rowsWithNA = dfD[rowHasNA]
rowsWithNA

   ID Result
2   3    NaN

In [15]:
columnHasNA = tableOfNAs.any(axis=0)
columnHasNA

ID        False
Result     True
dtype: bool

In [16]:
columnsWithNA = dfD[dfD.columns[columnHasNA]]
columnsWithNA

  Result
0   Pass
1   Fail
2    NaN
3   Fail
4   Fail

In [ ]:
# REPLACING STUFF

In [17]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
dfE = pd.read_csv('errorFile4.csv', na_values = missing_values, sep=';', decimal='.')


result = ['Pass', 'Fail', np.nan, 'Fail', 'Fail']
id = np.arange(1,6)
dfF= pd.DataFrame({'ID':id, 'Result':result})


dfF.fillna(0, inplace=True)


lists = [[1, 'Pass', 15], [2, 'Fail', 4], [3, 'Pass', np.NaN], [4, 'Fail', 8], [5, 'Pass', np.NaN]]
dfG = pd.DataFrame(lists, columns = ['Id', 'Result', 'Score'])

dfG = dfG.dropna(axis='rows')

dfG.dropna(axis='columns',inplace=True)

In [18]:
# CHANGING VALUES

In [ ]:
lists = [[1, 'Pass', 'm'], [2, 'Fail', 'm'], [3, 'Pass', np.NaN], [4, 'Fail', 'w'], [5, 'Pass', np.NaN]]
dfH = pd.DataFrame(lists, columns = ['Id', 'Result', 'Gender'])
dfH.loc[dfH.Gender == 'w', 'Gender'] = 'f'